body,
html {
    height: 100%;
    font-family: 'PT Sans';
    font-weight: normal;
}

body {
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-content {
    background-color: $greyBg;
}